:8000 {
    # route API requests to the backend container
    reverse_proxy /api/* backend:8000

    handle_path /wished-assets-v2/* {
        header Cache-Control "no-store, max-age=0"
        reverse_proxy host.docker.internal:3000
    }

    # route all other traffic to the frontend running on the host
    handle * {
        header Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
        reverse_proxy host.docker.internal:3000
    }
}
